<div class="container-fluid">
<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://www.linkedin.com/in/victorvalencio/" target="_blank" class="rotate">
                        <img src="https://i.imgur.com/BRvlPNS.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="https://github.com/11Victor" target="_blank" class="rotate">
                        <img src="https://i.imgur.com/TNRAE7v.png" alt="">
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/victor__valencio/" target="_blank">
                        <img src="https://i.imgur.com/Wg0queJ.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/11Victor">github.com/11Victor</a>
    </div>


</footer>

</div>